nextflow.enable.dsl = 2

includeConfig 'conf/base.config'

params {
  nextflow_runtime_image = 'phageflow/nextflow-runtime:0.1.0'
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  mamba {
    conda.enabled = true
    conda.useMamba = true
    conda.cacheDir = "${projectDir}/work/conda"
    conda.createTimeout = '4h'
    docker.enabled = false
    singularity.enabled = false
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    docker.enabled = false
    singularity.autoMounts = true
  }

  rerun_mash {
    process {
      withName: MASH_DIST {
        cache = false
      }
    }
  }

  debug {
    process {
      echo = true
    }
  }
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
