nextflow.enable.dsl = 2

includeConfig 'conf/base.config'

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
