params {
  input = 'samplesheet.csv'
  outdir = 'results'
  max_reads = 0
  run_pharokka = true
  mash_ref_accessions = 'assets/mash_refs/accessions.txt'
  mash_refs_fasta = 'assets/mash_refs/refs.fasta'
}

process {
  cpus = 4
  memory = '8 GB'
  time = '2h'
  errorStrategy = 'terminate'
  maxRetries = 1

  withName: FETCH_FASTQ {
    container = 'alpine:3.20'
    conda = "${projectDir}/envs/fetch.yml"
  }

  withName: FASTP {
    container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    conda = "${projectDir}/envs/fastp.yml"
  }

  withName: SPADES {
    container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1'
    conda = "${projectDir}/envs/spades.yml"
  }

  withName: QUAST {
    container = 'quay.io/biocontainers/quast:5.2.0--py39pl5321hdfd78af_4'
    conda = "${projectDir}/envs/quast.yml"
  }

  withName: MASH_DIST {
    container = 'quay.io/biocontainers/mash:2.3--hdcf5f25_5'
    conda = "${projectDir}/envs/mash.yml"
  }

  withName: PHAROKKA {
    container = 'staphb/pharokka:1.7.5'
    conda = "${projectDir}/envs/pharokka.yml"
  }

  withName: REPORT {
    container = 'rocker/tidyverse:4.3.2'
    conda = "${projectDir}/envs/report.yml"
  }
}
